.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background-color: #eec0c6;
  background-image: linear-gradient(152deg, #eec0c6 35%, #7ee8fa 64%);
}
